<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">>
    <title></title>
</head>
<body style="background-color:powderblue;">
    <u><h1 style="font-size:80px">
        WELCOME</h1></u>
        <style type="text/css">
            .imm
            {
                float: right;
                width: 30%;
            }
            .im{
                float: center;
                width: 40%; 
            }
        </style>
        <img class="imm" src="hy.jpg.jpg" />

    <h2>Health is the condition of the human body which is free from any injury or illness. 
        But staying healthy is defined as staying mentally, physically and socially fit. 
        Maintaining good health will ultimately lead to a happy mind which is more valuable than any precious gift in today’s life. 
        Having a healthy life must be a part of everyone’s lifestyle. 
        If one has a healthy and happy mind, then one will always stay motivated towards one’s work and will be productive at work. 
        It is essential for every individual to feel good about themselves, which will keep them happy. It is necessary to lead a healthy life to avoid any kind of chronic disease. 
        To maintain a healthy life, a person can go running or take a morning walk, can exercise daily, and support healthy food habits. 
        Therefore, it is essential to do what is suitable for your health and maintain good health from a very young age.
    </h1>
    
    
    <hr></hr>
    <br><h2>Click here to calculate your BMI</h2>
    <button><a href="mi.html">NEXT PAGE</a></button>
    <img class="im" src="yo.jpg" style="display: block; margin: auto;">
    
</body>
</html>